@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html * {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Modal close */
.modal-close {padding: 2px 16px;}
/* Modal login */
.modal-login {padding: 2px 16px;}
/* Modal reg */
.modal-reg {padding: 2px 16px;}

.inputbox {
    border: 1px solid #848484;
    border-radius: 5px;
    outline:0;
    height:25px;
    width: 275px;
    padding-left:10px;
    padding-right:10px;
    margin: 10px;
  }

  .submit {
    background: #3498db;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
  }

  .submit:hover {
    background: #3cb0fd;
      text-decoration: none;
  }

  .register {
    background: #46a046;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
  }

  .register:hover {
    background: #83c983;
      text-decoration: none;
  }

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 99;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  width: 30%!important;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/*header*/

header {
    background-color: black;
    opacity: 0.5;
    font-weight: bold;
    list-style: none;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0 100px 0;
}

header nav {
    display: flex;
}

header nav li {
    margin: 0 20px;
}


/*a*/

a {
    color: white!important;
    text-decoration: none!important;
    opacity: 0.8;
}

a:hover {
    opacity: 1;
}

.aboutUs {
    position: relative;
    justify-content: center;
    min-height: 95vh;
    text-align: center;
    margin-top: 40px!important;
}

.aboutUs h2 {
    padding-top: 10px;
    text-align: center;
}

.aboutUs h4 {
    text-align: center;
}


/*Hero, image of the background*/

.hero {
    position: relative;
    justify-content: center;
    min-height: 98vh;
    color: #fff;
    text-align: center;
    font-family: 'Myriad', sans-serif;
}
.hero img{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
    background-color: black;
}
.hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
    background-color: black;
}

.hero h1 {
    padding-top: 200px;
    font: bold 60px 'Open Sans', sans-serif;
    margin-bottom: 15px;
}
.hero input{
  margin: 12px;
}
.hero hr {
    margin-top: 10px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 10px;
}
#submit{
  background-color: #1a75ff;
  padding: 10px;
  display: inline-block!important;
  margin: 10px;
}
.hero h2 {
    padding-top: 50px;
    margin-bottom: 15px;
}

.hero h3 {
    font: normal 28px 'Open Sans', sans-serif;
    margin-bottom: 40px;
}

.hero-text {
    background: grey;
    opacity: 0.85;
    font-weight: bold;
    font-size: 1.3em;
    padding: 10px;

}

.hero-text:hover {
    opacity: 1;
}

.aboutUs {
    margin: 12px;
}

.staffInfo {
    margin: 12px;
    position: relative;
    display: flex!important;
    justify-content: center;
    margin-left: 100px!important;
    margin-right: 100px!important;
}
.productInfo {
    position: relative;
    display: flex!important;
    justify-content: center;
}

div.card {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px;
}

div.container {
    text-align: center;
    padding: 10px 20px;
}

/*-------------
From john's example 2
-------------*/

.wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: auto;
    margin-top: 40px;
    min-height: 100vh!important;
    margin-left: 100px;
    margin-right: 100px;
    flex: 1 100%;
}

section article h4 {
    font-weight: bold;
    color: #47476b;
}

.footer {
    font-size: 0.85em;
    text-align: center;
    background-color: black;
    color: white;
    opacity: 0.8!important;
}

.main {
    text-align: left;
}

.aside-1 li {
    list-style: none;
}

.aside-1 li a {
    color: grey!important;
}
/*media monitor size */
@media all and (max-height: 600px) {
    .hero {
        min-height: 20vh;
    }
    .aside-1 {
        order: 2;
    }
    .aside-2 {
        order: 1;
    }
    .main {
        order: 3;
    }
    .footer {
        order: 4;
    }
}

@media all and (min-width: 700px) {
    .aside {
        flex: 1 auto;
    }
    .aside-1 {
        order: 2;
    }
    .aside-2 {
        order: 1;
    }
    .main {
        order: 3;
    }
    .footer {
        order: 4;
    }
}

@media all and (min-width: 800px) {
    .main {
        flex: 5 0px;
    }
    .aside-1 {
        order: 2;
    }
    .aside-2 {
        order: 1;
    }
    .main {
        order: 3;
    }
    .footer {
        order: 4;
    }
}
