<!DOCTYPE html>

<html>
<title>Dynamic Images</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="fade.css">

<body>
    <div id="overarchingdiv">
        <div class="box2">
            <img class="bottom" src="2.jpg" />
            <img class="top" src="1.jpg" />
        </div>
        <div class="box2">
            <img class="bottom" src="4.jpg" />
            <img class="top" src="3.jpg" />
        </div>
        <div class="box2">
            <img class="bottom" src="6.jpg" />
            <img class="top" src="5.jpg" />
        </div>

    </div>
</body>

</html>
